
<div class ="home_header">
<h1>Notebook <%= link_to 'â„', courses_path %></h1>
</div>
<div class ="homecourses">
<<<<<<< HEAD
<p>... add courses, write notes, and stay organized</p>
=======
<p>add courses, write notes, and stay organized</p>
>>>>>>> e172aaa035d0314f4bd3d1605ee28ef312842072
</div>

